.wrapper {
   height: 48px;
   padding: 0 12px;

   display: grid;
   grid-template-columns: auto 1fr auto;
   align-items: center;
   gap: .625em;

   border-radius: 16px;
   background: rgba(255, 255, 255, 0.05);
   backdrop-filter: blur(20px);
}

.slash {
   padding: 3px 6px;

   border-radius: 7px;
   border: 1px solid rgba(255, 255, 255, 0.05);
   background: rgba(255, 255, 255, 0.10);
}

.input {
   font-size: 18px;
   font-weight: 500;

   background: none;
   border: none;
   outline: none;
}
.input::placeholder {
   color: rgba(255, 255, 255, 0.40);
}

.button {
   margin-right: -8px;
   padding: 8px 24px;

   font-size: 18px;
   font-weight: 500;

   border-radius: 12px;
   background: linear-gradient(90deg, #52419E 0%, #4221A6 100%);
   border: none;
   transition: .15s;
}
.button > svg {
   display: none;
}
.button:hover {
   cursor: pointer;
   opacity: .75;
}

/*media*/
@media (max-width: 560px) {
   .input {
      font-size: 16px;
   }

   .button {
      width: 42px;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      aspect-ratio: 1;
   }
   .button > span {
      display: none;
   }
   .button > svg {
      display: unset;
   }
}
@media (max-width: 365px) {
   .wrapper {
      height: 36px;
      grid-template-columns: 1fr auto;
   }
   .slash {
      display: none;
   }
   .button {
      width: 32px;
      border-radius: 16px;
   }
}